body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  /*  overflow: hidden; */
}

#game-intro {
  padding: 0 0;
  text-align: center;
  background-color: black;
  margin: 0;
  color: whitesmoke;
}
#game-intro img {
  width: 70%;
  height: auto;
  margin-top: 20px;
  object-fit: contain;
}

#statsContainer {
  display: none;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 10px;
}

#game-intro p {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  margin-bottom: 10px;
  margin-top: -10px;
}

#game-container {
  width: 100%;
  padding: 0px 0px;
  justify-content: center;
  background-color: black;
  color: whitesmoke;
  display: flex;
}

#game-screen {
  display: none;
  align-content: center;
  padding: 0px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/gameBackground.png);
  background-size: cover;
  background-color: black;
  background-position: center;
  width: 1200px;
  height: 550px;

  border: 5px solid transparent; /* Borde transparente */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.5),
    /* Brillo externo */ inset 0 0 10px 2px rgba(0, 0, 0, 0.8); /* Sombra interna */
}

@keyframes slide {
  0% {
    background-position: 0 -1000px;
  }
  95% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 50px;
  }
}

.player-speed-boost {
  box-shadow: 0 0 15px 5px rgba(0, 0, 255, 0.6); /* Halo azul */
}

@keyframes explosion-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -700px 0; /* Ajusta según el tamaño del sprite sheet */
  }
}

.explosion {
  background-size: 700px 100px; /* Ancho total del sprite sheet y altura de un frame */
  background-repeat: no-repeat; /* Evitar que se repita */
  background-position: 0 0; /* Asegurar que comience en el primer frame */
  animation: explosion-animation 0.5s steps(7) forwards; /* 7 frames en el sprite sheet */
}

#game-end {
  display: none;
  background-image: url(../images/fondoPres.png);
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;

  align-items: center;
  justify-content: space-between;
}

.endContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
  color: whitesmoke;
}

body button {
  font-size: 20px;
  background-color: #0543b6da;
  color: #fff;
  padding: 10px 40px;
  border: 5;
  box-shadow: 10;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-display: center;
}
